<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCTV</title>
    <link rel="icon" href="/static/image/favicon.ico" sizes="32x32" type="image/x-icon">
    <link rel='stylesheet' href='/static/css/style.css'>
    <script src="/static/js/script.js"></script>
    <link rel="manifest" href="/static/image/site.webmanifest">
    <link rel="apple-touch-icon" href="/static/image/apple-touch-icon.png">
</head>
<body id="main_body">
    <form id="input_form" onsubmit="show_cctv(event)">
        <input type="password" placeholder="Passwort eingeben">
        <input type="submit">
    </form>
</body>
</html>